body {
  background: #BEDCFF; /*light-blue*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4; /*medium-blue*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h3 {
  font-size: 1.5em;
}

.clickBox {
  /*border: 1px dashed yellow;*/
}

.flex-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: baseline;
}

.flex-item {
  /*background: #91DBDD;*/
  border: 3px solid white;
  background-color: #7FFFD4;
  color: #383835;
  /*width: 300px;*/
  /*min-height: 90px;*/
  /*margin-right: 10px;*/
  /*margin-top: 10px;*/
  padding: 15px;
  margin: 3px;
  text-align: center;
  list-style-type: none;
  border-radius: 10px;
}

.doodad {
  color: blue;
  font-size: 20px;
}

.hits, .doodadId {
  /*border: 1px dashed yellow;*/
  color: gray;
  font-size: 10px;
  padding-top: 9px;
}

